<mat-button-toggle-group class="group_btn">
  <mat-button-toggle [class]="'tog_btn '+active1" (click)="toggle(1)">Agregar producto</mat-button-toggle>
  <mat-button-toggle [class]="'tog_btn '+active2" (click)="toggle(2)">Productos no expirados</mat-button-toggle>
  </mat-button-toggle-group>
<div class="container" *ngIf="!active1">
    <div class="main_product" *ngFor="let product of products">
    <header><h2>{{product.product}}</h2>
    <img   [src]="img_path+product.image" [alt]="product.alt"/>
  </header>
    <div class="info_box">
      <p class="info consume_box"><span class="consume"><input matInput placeholder="cantidad" type="number" [(ngModel)]="product.newconsumption" [value]="product.consumption" name="" id="" pointer> <span>{{product.unit}}</span> </span><button class="btn send" (click)="consumption(product)">Consume</button> </p>
      <p class="info"><span>Total almacenado</span><span>{{product.quantity-(product.consumption+product.donate)}} {{product.unit}}</span> </p>
      <p class="info"><span>Precio</span><span>{{product.price|currency}}</span> </p>
      <p class="info"><span>Fecha de expiracion</span><span>{{product.expiryDate|date}}</span> </p>
    </div>
  </div>
</div>
<app-newproduct *ngIf="active1"></app-newproduct>
