

<div class="menu" (click)="togMenu()" *ngIf="menu">
  <ul class="_menu">
    <li [class]="'tog_btn _menu '+active1" (click)="toggle(1)">Agregar producto</li>
    <li [class]="'tog_btn _menu '+active2" (click)="toggle(2)">Productos no expirados</li>
    <li [class]="'tog_btn _menu '+active3" (click)="toggle(3)">Resumen</li>
  </ul>
</div>
 <mat-button-toggle-group class="group_btn">
  <mat-button-toggle [class]="'tog_btn '+active1" (click)="toggle(1)">Agregar producto</mat-button-toggle>
  <mat-button-toggle [class]="'tog_btn '+active2" (click)="toggle(2)">Productos no expirados</mat-button-toggle>
  <mat-button-toggle [class]="'tog_btn '+active3" (click)="toggle(3)">Resumen</mat-button-toggle>
  </mat-button-toggle-group>
<div class="container" *ngIf="active2 && !loading && totalProduct">

    <div class="main_product" *ngFor="let product of products">
    <header><h3 class="product">{{product.product}}({{ToPlural(product.product)}})</h3>
    <img class="product"  [src]="img_path+product.image" [alt]="product.alt"/>
  </header>
    <div class="info_box">
      <div class="info consume_box"><div class="consume"><mat-form-field><input matInput placeholder="cantidad" type="number" [(ngModel)]="product.newconsumption" [value]="product.consumption" name="" id="" pointer></mat-form-field>  <span>{{product.unit}}</span><button class="btn send" (click)="consumption(product)">Consume</button> </div> </div>
      <p class="info"><span>Total almacenado</span><span>{{product.quantity-(product.consumption+product.donate)}} {{product.unit}}</span> </p>
      <p class="info"><span>Precio</span><span>{{product.price|currency}}</span> </p>
      <p class="info"><span>Fecha de expiración</span><span>{{product.expiryDate|date}}</span> </p>
    </div>
  </div>
</div>
<app-message [component]="context"></app-message>
<app-share></app-share>
<app-error *ngIf="!totalProduct&&(active2||active3)" [context]="context" (newInstance)="toggle(1)"></app-error>
<app-newproduct *ngIf="active1 &&!loading"></app-newproduct>
<app-loader *ngIf="loading"></app-loader>
<app-summary *ngIf="active3 &&!loading" [product_list]="products"></app-summary>

