

.footer{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -30px;
  width: 98.5%;
  padding: 10px;
  background:green;
}

.footer>li{
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.footer>li:hover{
  color: white!important;
   background-color: #265747;
  box-shadow: none;
  border-radius: 100%;
}
a{
  color: white;
}
