.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap-reverse;
  background-color: transparent;
}
.navigation_auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 20%;
}
.icon-regist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px;
  border-radius: 100%;
  border: 1px solid green;
  width: max-content;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


h3 {
  margin-bottom: 20px;
  color: #148414;
  animation: bat 1s 0.8s ease-in-out;
}

.auth_form_box > div > i {
  font-size: 30px;
  color: #148414;
}

.icon-regist {
animation: TOK_TOK 1s ease-in-out;
}
@keyframes TOK_TOK {
  100%{
    transform: translateX(145px);

  }
}
@keyframes bat {
  10%{
    transform:rotate(40deg);
  }
  20%{
    transform: translateY(-10px);
  }
}



.auth_form_box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  animation: init_animation_forms 0.5s ease-out;
  width: 69%;
}
.auth_form_box > form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  min-width: 30%;
}

@media screen  and (max-width: 699px){
  .auth_form_box > form { min-width: 80%!important;}
  .auth_form_box { width: 100%!important;}
  .icon-regist, h3{ animation: none!important; }
}

@media screen  and (min-width: 700px) and (max-width: 1024px){
  .auth_form_box > form { min-width: 50%!important;}
  .auth_form_box { width: 70%!important;}
  .icon-regist, h3{animation: none!important;}
}


mat-form-field{
  margin-top: 15px;
}

.send-btn {
  color: green!important;
  padding: 10px;
  border-radius: 10px;
  border-color: green!important;
  background: white;
  margin-top: 20px;
  cursor: pointer;
  width: 60%;
  align-self: center;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

a {
  padding: 10px;
  transition: ease-in 0.2s;
}
a:hover {
  color: green!important;
    border-radius: 10px;
    border:2px solid green!important;
    background: white;
    cursor: pointer;
}
svg{
  color: green;
}
