
<mat-button-toggle-group class="group_btn">
  <mat-button-toggle [class]="'tog_btn '+active1" (click)="toggle(1)">Consumo </mat-button-toggle>
  <mat-button-toggle [class]="'tog_btn '+active2" (click)="toggle(2)">Promedio</mat-button-toggle>
  </mat-button-toggle-group>
<div class="container" *ngIf="active1">
  <div class="main_product" *ngFor="let consumption of consumptions">
  <header><h2>{{consumption.product}}</h2>
  <img   [src]="img_path+consumption.image" alt="alt"/>
</header>
  <div class="info_box">
    <p class="info"><span>Fecha consumo</span><span>{{consumption.date|date}}</span> </p>
    <p class="info"><span>Cantidad consumida</span><span>{{consumption.quantity}} {{consumption.unit}}</span> </p>
  </div>
</div>
</div>
<app-average-consumption  *ngIf="!active1" [averages]="averages"></app-average-consumption>


