<div class="container" *ngIf="!loading&&!error">


  <div class="auth_form_box">

    <form [formGroup]="form">

      <header>
        <div class="icon-regist">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
          </svg>
        </div>
        <h3>Forma de entrar</h3>
      </header>
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input formControlName="email" type="email" matInput required>
        <mat-error *ngIf="mat_error_field.email">{{mat_error_field.email}}</mat-error>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="mat_error_field.password">{{mat_error_field.password}}</mat-error>
      </mat-form-field>
      <input class="send-btn"(click)="login()" type="submit" [disabled]="form.invalid" value="ENTRAR">
      <nav>
        <a routerLink="/">INICIO</a>
        <a routerLink="/logup">REGISTRO</a>
      </nav>
    </form>

  </div>




</div>
<app-loader *ngIf="loading"></app-loader>
<app-error *ngIf="error" [message]="error" [backRoute]="true" (newInstance)="error=''"></app-error>
<app-message [component]="context" [show_message]="true"></app-message>
<app-share></app-share>

