<div class="container">
<header>
<h2>New Product</h2>
</header>
<form  [formGroup]="form">
     <div class="row_col_2">
     <mat-form-field>
      <mat-label>Nmbre del Producto</mat-label>
      <input matInput  formControlName="product" required >
      <mat-error *ngIf="message_error.product">{{message_error.product}}</mat-error>
     </mat-form-field>
     <mat-form-field>
      <mat-label>Categoria</mat-label>
      <input matInput  formControlName="category" required >
      <mat-error *ngIf="message_error.category">{{message_error.category}}</mat-error>
     </mat-form-field>
     </div>
     <div class="row_col_2">
      <mat-form-field>
       <mat-label>Caducacion</mat-label>
       <input matInput type="date"  formControlName="expiryDate" required >
       <mat-error *ngIf="message_error.expiryDate">{{message_error.expiryDate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
       <mat-label>Total</mat-label>
       <input matInput  type="number" formControlName="total" required >
       <mat-error *ngIf="message_error.total">{{message_error.total}}</mat-error>
      </mat-form-field>
      </div>
     <div class="row_col_2">
      <mat-form-field>
       <mat-label>Cantidad</mat-label>
       <input matInput type="number"  formControlName="quantity" required >
       <mat-error *ngIf="message_error.quantity">{{message_error.quantity}}</mat-error>
      </mat-form-field>
      <mat-form-field>
       <mat-label>Unidad</mat-label>
       <input matInput  type="text" formControlName="unit" required >
       <mat-error *ngIf="message_error.unit">{{message_error.unit}}</mat-error>
      </mat-form-field>
      </div>
     <div class="row_col_2">
      <div class="file_box">
       <mat-label>Imagen</mat-label>
       <input  (change)="filemanager($event)" type="file" name="image"   required >
      </div>
      </div>
      <input class="send-btn"  (click)="saveProduct()" type="submit" [disabled]="form.invalid" value="LOGIN">

</form>

</div>
