@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  font-family: HELVETICA;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.card_abosolute_error{
  text-align: center;
  color: red!important;
  padding: 5px;
  box-shadow: 0px 0px 3px red;
  box-sizing: content-box;
  word-break: break-word;
  width: 300px;
}


.card_absolute_success{
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 3px greenyellow;
  box-sizing: content-box;
  word-break: break-word;
  width: 300px;
  color: green;
  top: 0;
  left: 0;

}


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar img {
  margin: 0 16px;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}



footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
/*
/* Responsive Styles */
/*
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
**/
@keyframes init_animation {
      0%,50%{
        opacity: 0.6;
        transform: scale(0.2);
      }
      60%{
        opacity: 0.6;
        transform: translateY(-80px);
      }
      80%{
        opacity: 0.6;
        transform: translateY(0px);
      }
      90%{
        opacity: 0.6;
        transform: translateY(-80px);
      }
      100%{
        opacity: 1;
      }
}

@keyframes left_right {
  0%,50%{
    opacity: 0.2;
    transform: translateX(-1000px);
  }
  80%{
    opacity: 0.9;
    transform: scale(1);
  }
  100%{
    opacity: 1;
  }
}
@keyframes right_left {
  0%,50%{
    opacity: 0.2;
    transform: translateX(1000px);
  }
  80%{
    opacity: 0.9;
    transform: scale(1);
  }
  100%{
    opacity: 1;
  }
}

@keyframes init_animation_forms {
  0%,50%{
    opacity: 0.6;
    transform: scale(0.2);
  }

  100%{
    opacity: 1;
  }
}


.mat-dialog-container{
  padding: 0px!important

}
