@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


body {
  font-family: HELVETICA;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.main_product,.diet{
  z-index: 1000!important;
}
.toolbar{
  z-index: 1001!important;

}
*{
  font-family: sans-serif!important;
}

app-consumption,app-unexpired,app-diet,app-expired{
  display: flex;
  flex-direction: column;
  background-color: #445544;
}
app-consumption>.container,app-loader>.container,app-summary>.container,app-unexpired>.container,app-expired>.container,app-average-consumption>.container,app-diet>.container{
    margin-top: 50px!important;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #445544;
    min-height: 100vh;
}

mat-button-toggle-group{
  position: fixed!important;
  width: 75%!important;
  z-index: 1000!important;
  background: #445544!important;
  border-radius: 20px!important;
  align-self: center!important;
 }
app-footer{
  align-self: flex-end;
  width: 100%;
}
 .tog_btn{
  width: 100%;
  background: transparent;
  color: white;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.active{
  background: white;
  color:#445544 ;
}


@media screen and (min-width: 901px) {
  .btn-toggle-menu{
    display: none!important;
  }
}
 @media screen and (max-width: 900px) {
  mat-button-toggle-group{
    display: none!important;
  }
  .container{
    margin-top: 0px!important;

  }
  form{
    margin-top: 0px!important;
  }
  app-consumption>.container,app-unexpired>.container,app-average-consumption>.container{
    margin-top: 0px!important;
  }
  .row_col_2>*{
    min-width: 100%!important;
  }

}
.card_abosolute_error{
  text-align: center;
  color: red!important;
  padding: 5px;
  box-shadow: 0px 0px 3px red;
  box-sizing: content-box;
  word-break: break-word;
  width: 300px;
}


.card_absolute_success{
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 3px greenyellow;
  box-sizing: content-box;
  word-break: break-word;
  width: 300px;
  color: green;
  top: 0;
  left: 0;

}


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar img {
  margin: 0 16px;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}



footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
/*
/* Responsive Styles */
/*
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
**/
@keyframes init_animation {
      0%,50%{
        opacity: 0.6;
        transform: scale(0.2);
      }

      100%{
        opacity: 0.6;
        transform: translateY(-80px);
      }
}

@keyframes left_right {
  0%{
    opacity: 0.2;
    transform: translateX(-1000px);
  }
  100%{
    opacity: 0.9;
    transform: translateX(-0px);
    transform: scale(1);
  }
}
@keyframes right_left {
  0%{
    opacity: 0.2;
    transform: translateX(1000px);
  }
  100%{
    opacity: 0.9;
    transform: translateX(0px);
  }
}

@keyframes init_animation_forms {
  0%,50%{
    opacity: 0.6;
    transform: scale(0.2);
  }

  100%{
    opacity: 1;
  }
}


.mat-dialog-container{
  padding: 0px!important

}

.mat-drawer-content{
  background-color: #445544;
  padding: 0;
  margin: 0;
}




.menu{
  width: 100%;
  height: 1000vh;
  z-index: 1001!important;
  background: transparent;
  position: fixed;
}
ul._menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 17px;
  position: absolute;
  right: 2px;
  top: -15px;
  box-shadow: 0px 0px 4px 2px #445544;
   background-color: white;


}

li._menu{
  background-color: #ffffff;
  color: #445544;
  padding: 10px;
  margin-top: 2px;
  border-radius: 5px;
  width: 96%;
  text-align: center;
  border:1px solid #445544;

}

li._menu:hover{
  background-color: #ffffff;
  color: #445544;;
  padding: 10px;
  cursor: pointer;
}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke:white!important;
}

svg{
  transform: scale(1);

}
